services:
  amneziawg:
    image: kamasalyamov/awg-ubuntu-24-04:0.1.0
    container_name: amneziawg
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./config/wg0.conf:/etc/amnezia/amneziawg/wg0.conf:ro
    environment:
      - AWG_INTERFACE=wg0
    # Use host network so VPN routing works seamlessly
    network_mode: host